#intro {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), /* Black overlay with 50% opacity */
            rgba(0, 0, 0, 0.5)  /* Black overlay with 50% opacity */
        ),
        url('../images/mooting.jpeg'); /* The actual background image */
    background-size: cover; /* Ensure the image covers the container without stretching */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white; /* Optional: Change text color to white for better contrast */
    text-align: center;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 3em;
}

#main h1, #main h2 {
    margin: 2em 1em;
    text-align: center;
}

#main h3, #main h4 {
    margin: 1em 0.5em;
    text-align: center;
}

.getinvolved p {
    text-align: left;
}

#conc {
    margin-top: 20px;
}